bitsandbytes==0.45.3
datasets==3.4.1
numpy==2.3.2
packaging==25.0
pandas==2.3.1
scikit_learn==1.7.1
statsmodels==0.14.4
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
trl==0.15.2
unsloth==2025.3.17
unsloth_zoo==2025.3.15
vllm==0.10.1
wandb==0.21.1